body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #4285F4;
}

p {
    color: #777;
}

.welcome-image {
    max-width: 300px;
    margin: 20px auto;
    display: block;
}

.main-image {
    max-width: 600px;
    margin: 20px auto;
    display: block;
}

.second-image{
    max-width: 200px;
    margin: 10px auto;
    display: block;
}