<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo!</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>Bem-vindo!</h1>
    <img src="{{url_for('static', filename='ufpi.jpg')}}"" alt="Bem-vindo" class="welcome-image">
    <p>Obrigado por visitar nossa página de boas-vindas.</p>
    <p>Fique à vontade para explorar e descobrir mais sobre nós.</p>
    <br>
    <a href="/felinos">Felinos</a>
</body>
</html>